.main {
  background: #fff;
  padding: 30px;
  margin: 50px auto;
  width: 500px;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
}

.main h1 {
  font-family: Poppins, sans-serif;
  color: #C08497;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}
