* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
}

button {
  cursor: pointer;
}
